@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Order management</h1>
    <p>This software is for order management in a printing and inserting company.</p>
</div>
